<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.journey.mapper.GeoPointMapper">
<insert id="addGeoPoint" parameterType="java.util.List">
		INSERT IGNORE INTO geopoint (`id`, `lon`, `lat`)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
				IFNULL(
					(
						SELECT
							id
						FROM
							(
								SELECT
									id
								FROM
									geopoint
								WHERE
									lon = ${item.geoPoint.lon}
								AND lat = ${item.geoPoint.lat}
							) AS x
					),
					(SELECT UUID() AS id)
				),
				${item.geoPoint.lon},
				${item.geoPoint.lat}
			)
		</foreach>
	</insert>
</mapper>
